---
import PageLayout from '../../layouts/PageLayout.astro';
import { siteUpdates } from "../../data/update";
const updates = [...siteUpdates].sort((a, b) => b.date.localeCompare(a.date));
const pageTitle = "お知らせ一覧";
const description = "NAOMINA121の最新のお知らせ一覧ページです。";
---

<PageLayout pageTitle={pageTitle} description={description}>
    <p class="mb-4">最新のお知らせ一覧です。</p>
    <ul class="my-1 list-disc list-inside">
    {updates.map((update) => (
      <li class="my-1">
        <time class="orange" datetime={`${update.date}T00:00:00+09:00`}>{update.date}</time>
        {' : '}
        <a href={`/updates/${update.slug}`} class="text-[#c9c9c9] hover:underline hover:underline-offset-4">
          {update.title}
        </a>
      </li>
    ))}
  </ul>
          <a href="/" class="inline-block mt-6 px-6 py-3 bg-gray-700 hover:bg-gray-600 text-white transition-colors">ホームに戻る</a>

</PageLayout>
