---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "ONEのブログ";
const pubDate = "2026-03-07";
const modDate = "2026-03-17"
const image = {
    url: '/images/blog2.jpg',
    alt: 'oenのブログのイメージ画像',
};
const description = "ナオの交代人格のone専用のブログです";
---

<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate} image={image} description={description}>
<h2>概要</h2>
<p>交代人格のone専用のブログです。<br>
    <p>日々の記録は、<a href="https://one.naomina121.com">はてなブログ</a>で更新をしています。</p>

<a href="https://www.youtube.com/@naoone2026" target="_blank">ポッドキャスト</a>で話せなかったことなどを記録していきます。


    <h2>記事</h2>
<h3>DID</h3>
<span>タグ：<a href="/tags/DID" class="link">DID</a></span>
<ul class="menu-list">
<li><a href="/one/did-ep1">交代人格は自分の人生を生きれるのか？</a></li>
<li><a href="/one/did-ep2">交代人格が増えるとどのような危険性が増えるのか</a></li>
<li><a href="/one/did-ep3">ファッションDIDの危険性</a></li>
<li><a href="/one/did-ep4">基本人格のナオについて</a></li>
</ul>
</PageLayout>
