---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "資料室";
const pubDate = "2025-02-21";
const modDate = null;
const image = {
    url: '/images/materials.jpg',
    alt: '資料室の画像です',
};
const description = "内容が一部センシティブ（虐待、いじめ、パワハラや、統合失調感情障害、CPTSD）などの話題を取り扱っています。";
---

<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate} image={image} description={description}>
<h2>概要</h2>
<p>こちらは、内容が一部センシティブ（虐待、いじめ、パワハラや、統合失調感情障害、CPTSD）などの話題を取り扱っています。</p>
<h2>記事</h2>
<h3>一次資料</h3>
<span>タグ：<a href="/tags/一次資料" class="link">一次資料</a></span>
<ul class="menu-list">
<li><a href="/secret/materials-ep1">2013年のブログの文章</a></li>
<li><a href="/secret/materials-ep2">2023年のブログの文章</a></li>
<li><a href="/secret/materials-ep3">2024年のブログの文章</a></li>
<li><a href="/secret/schizophrenia">統合失調症当事者が見た妄想の世界（ログ付き）</a></li>
</ul>
<h3>経歴</h3>
<span>タグ：<a href="/tags/経歴" class="link">経歴</a></span>
<ul class="menu-list">
<li><a href="/secret/nao-ep1">ナオの自分史</a></li>
</ul>
<h3>制作過程</h3>
<span>タグ：<a href="/tags/その他" class="link">制作過程</a></span>
<ul class="menu-list">
<li><a href="/secret/etc-ep1">Kindle本：進捗管理の事情</a></li>
</ul>
</PageLayout>
